body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #1A202C;
    color: white;
}

.hero-section {
    position: relative;
    width: 2380px;
    height: 1986px;
}

.circle {
    position: absolute;
    opacity: 0.05;
    border-radius: 9999px;
    border: 100px solid white;
}

.blur-circle {
    position: absolute;
    opacity: 0.05;
    background: white;
    box-shadow: 200px 200px 200px rgba(255, 255, 255, 0.5);
    border-radius: 9999px;
    border: 1px solid white;
    filter: blur(200px);
}

.text {
    position: absolute;
}

.main-text {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 108px;
    color: white;
}

.sub-text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #90A3BF;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.demo {
    background-color: #7C5CFC;
    color: white;
}

.pricing {
    background-color: #1A202C;
    color: #C3D4E9;
}

.svg-container {
    width: 1200px;
    height: 852.86px;
    position: absolute;
    left: 120px;
    top: 604px;
    background-color: #F6F7F9;
    border-radius: 11.79px;
    overflow: hidden;
}
